.box-header .box-title{
	margin-right: 40px;
}
.nopadding {
   padding: 0 !important;
}
.nomargin {
   margin: 0 !important;
}
.full-width {
	display: block;
    width: 100%;
    float: left;
}
.pull-none{
	float: none;
}
.close{
	opacity: 1;
}
#button_draft{
	margin-left: 10px;
}
.btn-preview{
	margin-top: 10px;
}
.dropdown-menu>li>a>.glyphicon, .dropdown-menu>li>a>.fa, .dropdown-menu>li>a>.ion{
	width: 20px;
}
.cke_top, .cke_bottom{
	background-image: none !important;
	box-shadow: none !important;
	background: #eee !important;
}
.currency-value select{
	width: 35% !important;
	border-right: 0;
}
.currency-value input{
	width: 65% !important;
}
/*.cke_chrome{
	border-left: 1px solid #b6b6b6 !important;
	border-right: 1px solid #b6b6b6 !important;
	border-top: 0 !important;
	border-bottom: 0 !important;
}*/