.box-header .box-title{
	margin-right: 40px;
}
.nopadding {
   padding: 0 !important;
}
.nomargin {
   margin: 0 !important;
}
.full-width {
	display: block;
    width: 100%;
    float: left;
}
.pull-none{
	float: none;
}
.close{
	opacity: 1;
}