.mapEvent iframe {
  	width: 100%;
}
.subscription-page{
  	background: url(../images/bg-subscription.jpg) no-repeat;
  	width: 100%;
  	height: 100%;
  	background-size: cover;
  	background-position:center;
}
.car-route{
 	list-style-type: disc !important;
 	padding-left: 25px !important;
 	margin-bottom: 10px;
}

.car-route li {
 	padding: 5px;
}

.mapEvent iframe{
    pointer-events: none;
    height: 300px;
}

iframe[name="google_conversion_frame"]{
    height: 0;
}
.contact-content .boxOffice,
.contact-content .website {
    text-align: center;
}
#modalAlready{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#modalAlready .modal-title{
  font-size: 16px;
}
#modalAlready .modal-content {
    max-width: 430px;
    margin: 0 auto;
}
#modalAlready .modal-content .modal-body p {
    text-align: center;
}
#modalAlready .modal-content .modal-footer {
    text-align: center;
}
#modalAlready .modal-content .modal-footer button {
    background-color: #000;
    color: #fff;
    width: 200px;
}
.careerModal .job-list{
  background: none;
  margin: 0;
  color: #000;
  padding: 0;
}
.careerModal .job-list ul li{
  width:33.33333333%;
  margin: 0;
  float: left;
}
.box-release {
  display: inline-block;
  float: none;
  box-sizing: border-box;
  text-align: left;
}
.newRelease{
  padding-bottom: 50px;
  text-align: center;
}
.place p span {
  line-height: 160% !important;
}
/*.discoverCategory h2 {
  font-size: 26px;
  margin-bottom: 20px;
}*/
.moreDetail button[disabled],
.btnABO[disabled]{
  background-color: #CACACA;
  color: #000;
  opacity: 1; 
}
#promotion .promo-banner{
  max-width: 100%;
  margin-top: 10px;
}
/*#link_title_more_promotion{
  color: #333;
  cursor: pointer;
}*/
/*#more_description {
    transition: height 1s;
    -webkit-transition: height 1s;
}*/
#aboutEvent #promotion a,
#aboutEvent #about a,
#aboutEvent #venue a,
#aboutEvent #rules a{
  color: #000;
  text-decoration: underline;
}

/*Auto Search*/
#ul-search,
#ul-search-mobile{
  min-width: 480px;
  position: absolute;
  top: 50px;
  border-radius: 5px;
  padding: 0px;
  box-shadow: rgba(0, 0, 0, 0.498039) 0px 5px 15px;
  background-color: rgb(255, 255, 255);
}
#ul-search #header-search,
#ul-search-mobile #header-search{
  height: 80px;
  border-top: 0;
}
#ul-search a,
#ul-search-mobile a{
  display: block;
  padding: 10px;
  height: 100%;
}
#header-search a .img-search{
  width: 88px;
  height: 100%;
  display: block;
  float: left;
  background: #4a4949;
  text-align: center;
  padding-top: 13px;
}
#ul-search a img,
#ul-search-mobile a img{
  height:100%;
  float:left;
}
#header-search a div i{
  font-size: 30px;
  color: #fff;
}
#ul-search .content,
#ul-search-mobile .content{
  float: left;
    padding-left: 20px;
}
#ul-search h5,
#ul-search-mobile h5{
  color:#000;
}
#ul-search .footer,
#ul-search-mobile .footer{
  color:#bdbdbd;
  font-size: 12px;
}
#ul-search .drawer-item,
#ul-search-mobile .drawer-item {
  border-top: 1px solid #ddd;
  height: 80px;
}

#ul-search .content .all-result,
#ul-search-mobile .content .all-result {
  margin: 0 auto;
  position: absolute;
  top: 30px;
}
.slider-home .carousel-inner{
  border-radius: 0 !important;
}
.discoverCategory .tabCategory li i{
  font-size: 30px;
  color: #000000;
  padding-bottom: 10px;
}
.promoModal .descPromoModal .promoLogo{
  width: 50px;
}
.search-list table td img,
.mobile-search-head img{
  width: 150px;
}
.result-content .sidebar-head h4{
  display: inline-block;
}
.result-content .sidebar-head a{
    float: right;
    margin-right: 15px;
    margin-top: 4px;
}
.result-content .sidebar-head a:after{
  content: none;
}
.promoBannerDesc a{
  color: #000;
  text-decoration: underline;
}
#ul-search-mobile{
  width: 100%;
  left: 0;
  border-radius: 0;
  top: 48px;
}
.tabCategory .list-category-mobile .dropdown.open #select-category{
  display: inline-block !important;
}
.tabCategory .list-category-mobile .dropdown.open #selected-category{
  display: none;
}
.full-modal .modal-content,
#modalSeatMap .modal-content {
    border-radius: 0;
}
.box-promo .boxInfo .eventName{
  white-space: normal;
}
.box-promo .boxInfo .eventName .promoNameThumb{
  padding-left: 0;
  padding-right: 5px;
}
.box-promo .boxInfo .eventName .promoLogoThumb{
  padding-right: 0;
  padding-left: 5px;
}
.box-promo .boxInfo{
  height: 120px;
}
.full-modal{
  padding-right: 0 !important;
}
.promoModal .promoBannerDesc h3{
  font-size: 16px;
}
/*.box-promo .eventName img{
  width: 50px;
}*/

.mobile-header.mobile-header-xmas {
    transform:none;
    height: 100%;
}
.mobile-header.mobile-header-xmas .container,
.mobile-header.mobile-header-xmas .mobile-header-show,
.mobile-header.mobile-header-xmas .mobile-header-show .row,
.mobile-header.mobile-header-xmas .mobile-logo,
.mobile-header.mobile-header-xmas .mobile-menu{
  height: 100%;
}
.mobile-header.mobile-header-xmas .mobile-logo{
  display: table;
  margin: 0 auto;
}
.mobile-header.mobile-header-xmas .mobile-menu{
  display: table;
  width: 100%;
}
.mobile-header.mobile-header-xmas .mobile-menu{
  margin-top: 0;
}
.mobile-header.mobile-header-xmas .mobile-logo a,
.mobile-header.mobile-header-xmas .mobile-menu .mobile-collapse-top{
  display: table-cell;
  vertical-align: middle;
}
.mobile-header.mobile-header-xmas .mobile-menu .mobile-collapse-header-top{
  float: right;
}
.mobile-header.mobile-header-xmas .mobile-collapse-body-top{
  top: 60px;
}
.ul-ticket-content .li-ticket-content:last-child {
    padding-top: 40px;
}
.hotline .iconWays i {
    padding: 8px !important;
}
.main-terms .head-support,
.main-terms .support-desc .col-md-12 {
    padding-left: 30px;
}
.box-release img, .box-promo .image-promo, .box-release .boxInfo, .box-promo .boxInfo {
    display: block;
}
.box-promo .boxInfo ul li img{
  max-width: 100px;
}

