/*.box-release .boxInfo{
  height: 170px;
}*/
/*.career-desc .job-list table tr td a, 
.career-desc .search-list table tr td a{
  color: #fff;
}*/
#ul-search{
  width: 450px;
  position: absolute;
  top: 50px;
  border-radius: 5px;
  padding: 0px;
  box-shadow: rgba(0, 0, 0, 0.498039) 0px 5px 15px;
  background-color: rgb(255, 255, 255);
}
#ul-search #header-search{
  height: 80px;
  border-top: 0;
}
#ul-search a{
  display: block;
  padding: 10px;
  height: 100%;
}
#header-search a .img-search{
  width: 88px;
  height: 100%;
  display: block;
  float: left;
  background: #4a4949;
  text-align: center;
  padding-top: 13px;
}
#ul-search a img{
  height:100%;
  float:left;
}
#header-search a div i{
  font-size: 30px;
  color: #fff;
}
#ul-search .content{
  float: left;
    padding-left: 20px;
}
#ul-search h5{
  color:#000;
}
#ul-search .footer{
  color:#bdbdbd;
  font-size: 13px;
}
#ul-search .drawer-item{
  border-top: 1px solid #ddd;
  height: 80px;
}
/*.append-events{
  margin-bottom: 30px;
}*/